body {
  background: var(--color-back);
  color:var(--color-front);
  font-size:86%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#main {
    inherit:.pure-g;
}

.firstRow {
    inherit:.pure-u-1-1;
}